<%-  include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et maxime deleniti dolorum rem provident autem harum hic voluptatum esse libero nam asperiores enim, quaerat fugit nihil architecto aliquam nisi? Hic!</p>

<%-  include("footer") -%>